@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin avoidSelection {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

@mixin sectionMargin {
    margin: auto 10%;
}

@mixin padding {
    padding: .3em .7em;
}

@mixin letterSpacing {
    letter-spacing: .05em;
}

@mixin whiteBlueContainer($borderRadius: $defaultBorderRadius) {
    color: $white;
    background-color: $blue;
    border-radius: $borderRadius;
}

@mixin ctaBtn {
    @include avoidSelection;
    @include padding;

    font-weight: 500;
    font-size: 18px;
    cursor: pointer;

    &:active {
        transition: none;
        transform: scale(.85);
    }

    @media (max-width: 1000px) {
        font-size: 14px;
    }
}

@mixin blueBtn($borderRadius: $defaultBorderRadius) {
    @include whiteBlueContainer($borderRadius);
    @include avoidSelection;
    @include flexCenter;
    @include padding;

    cursor: pointer;

    &:hover {
        background-color: $lightBlue;
    }

    &:active {
        transition: none;
        transform: scale(.85);
    }
}

@mixin column($width) {
    min-width: $width;
    width: $width;
    overflow: hidden;
    text-wrap: nowrap;
}

@mixin scroolbar {

    /* Firefox */

    /* Scrollbar width: 'auto' or 'thin' */
    scrollbar-width: thin;

    /* Scrollbar colors: thumb color and track color */
    scrollbar-color: $darkerGrey transaprent;

    /* WebKit Browsers (Chrome, Safari, Edge) */
    @supports selector(::-webkit-scrollbar) {

        scrollbar-width: initial;
        scrollbar-color: initial;

        &::-webkit-scrollbar {
            height: $scrollbarHeight;
            /* Height of the scrollbar */
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
            /* Background of the scrollbar */
        }
    
        /* Handle (scroll thumb) */
        &::-webkit-scrollbar-thumb {
            background: $darkGrey;
            border-radius: 1000px;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $darkerGrey;
        }
    
        /* Scrollbar arrows */
        &::-webkit-scrollbar-button {
            display: none;
        }
    }
}