/* Fonts */

$fontMono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;


/* Colors */

$white: #FFFFFF;
$grey: #FAFAFA;
$darkGrey: #D9D9D9;
$darkerGrey: #c5c3c3;
$black: #333;

$blue: #3F6EE3;
$lightBlue: rgb(82, 129, 247);
$red: #EF2B2B;
$green: #3AD65C;

/* Shadows */

$boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Border radius */

$defaultBorderRadius: .3em;
$roundBorderRadius: 10rem;

/* Scrollbar width */

$scrollbarHeight: 6px;