@import "/styles/globals/config";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;
}

.subContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
}

.titles {
    display: flex;
    gap: 20px;
}

.row {
    width: fit-content;
    display: flex;
    gap: 20px;
    position: relative;
    padding: 10px 0;

    &:hover {
        background-color: rgb(222, 222, 243)
    }
}

.status {
    @include tableElement;
}

.company {
    @include tableElement;
}

.location {
    @include tableElement;
}

.email {
    @include tableElement;
}

.date {
    @include tableElement;
}

.website {
    @include tableElement;
}

.notes {
    @include tableElement;
    width: auto;
}

.actionsContainer {
    position: sticky;
    background-color: #ccc;
    right: 10vw;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.btn {
    @include blueBtn;
}

.btnRed {
    @include blueBtn;
}

.btnBlue {
    @include blueBtn;
}

.btnGreen {
    @include blueBtn;
}