@import "/styles/globals/config";

$tableGap: 10px;
$rowPadding: 25px 40px;
$rowGap: 40px;

@mixin clickableTitle {
    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(.9);
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderBy {
    @include avoidSelection;
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 30px;

    p {
        color: $blue;
        font-size: 13px;
        font-weight: 600;
    }
}

.orderByPill {
    @include whiteBlueContainer;
    padding: .22em .7em;
    border-radius: 1000px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.applicationsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: auto;
    position: relative;
    border-radius: 40px;
    background-color: $grey;
    gap: $tableGap;
}

.titles {
    padding: $rowPadding;
    position: sticky;
    z-index: 20;
    top: 0;
    left: auto;
    display: flex;
    align-items: center;
    gap: $rowGap;
    background-color: $grey;

    div {
        @include avoidSelection;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-weight: 600;
    }

    .arrowImg {
        max-width: 18px;
        height: auto;
    }
}

.status {
    @include column(100px);
    @include clickableTitle;
    overflow: visible;
}

.company {
    @include column(200px);
    @include clickableTitle;

}

.location {
    @include column(200px);
    @include clickableTitle;

}

.email {
    @include column(200px);
    @include clickableTitle;

}

.date {
    @include column(200px);
    @include clickableTitle;

}

.website {
    @include column(200px);

}

.notes {
    @include column(200px);

    width: auto;
}

.subContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $tableGap;
}

.copyEmails {
    @include blueBtn;
    position: sticky;
    top: 0;
    right: 5vw;
    text-wrap: nowrap;
}

.row {
    padding: $rowPadding;
    width: fit-content;
    display: flex;
    gap: $rowGap;
    position: relative;

    &:hover {
        background-color: rgb(222, 222, 243)
    }
}

.statusContainer {
    position: relative;
    border: #ccc solid 1px;
}

.selectStatus {
    position: absolute;
    z-index: 10;
    background-color: #ccc;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100px
}

.actionsContainer {
    position: sticky;
    background-color: #ccc;
    right: 10vw;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.btn {
    @include blueBtn;
}

.btnRed {
    @include blueBtn;
}

.btnBlue {
    @include blueBtn;
}

.btnGreen {
    @include blueBtn;
}