@import "/styles/globals/config";

.container {
    position: fixed;
    z-index: 30;
    bottom: 20px;
    right: 5vw;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;

    transition: all ease-in-out 1s;
}

.subContainer {
    @include letterSpacing;
    padding: .4em 1.5em;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    border-radius: $defaultBorderRadius;
    box-shadow: $boxShadow;

    /* Animation initial state */
    opacity: 0;
    transform: translateY(100vw);

    animation: pop-notification forwards ease-in-out;
}

@keyframes pop-notification {
    from {
        transform: translateY(100vw);
        opacity: 0;
    }

    10% {
        transform: translateY(0px);
        opacity: 1;
    }

    90% {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(100vw);
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .subContainer {
        font-size: 12px;
    }
}

/* Exports */
:export {
    /* Same name as NotificationColor */
    blue: $blue;
    red: $red;
}