@import "/styles/globals/config";

.container {
    @include avoidSelection;
    @include sectionMargin;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 0;
}

.logo {
    @include whiteBlueContainer;
    @include letterSpacing;
    @include padding;       

    font-size: 28px;
    font-weight: 700;
}

.ctas {
    display: flex;
    gap: 10px;
}

@media (max-width: 1000px) {
    .container {
        padding: 40px 0;
        gap: 30px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logo {
        font-size: 18px;
        text-wrap: nowrap;
    }

    .ctas {
        gap: 6px;
    }
}